{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/admin_style.css" %}">
    <link rel="stylesheet" href="{% static "css/css.css" %}">
    <link rel="stylesheet" href="{% static "css/icon.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <title>SkullCandy</title>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="{% static "img/logo.png" %}" alt="SkullCandy" style="width:10rem; height:2rem;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'admin' %}">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'store' %}"></a>
                </li>
              </ul>
              
    </header>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Uploaded <b>Files</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="/store/admin_products/upload_file/" ><span class="btn btn-success">Upload File</span></a>
                           
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>File Format</th>
                        <th>Downloads</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for y in lists %}
                    <tr>
                        <td>{{y.File_Name}}</td>
                        <td>{{y.File_Type}}</td>
                        <td>
                        <a href="{{ y.pdf.url }}" class="btn btn-primary btn-sm text-white" target="_blank">Download File</a>   
                        </td> 
                        <td>
                            <a href="delet/{{y.id}}"><span class="btn btn-danger">Delete</span></a>
                        </td>
                    </tr>
                    {% endfor %}
            
                </tbody>
            </table> 

    

    <br><br><br><br><br><br><br><br><br><br><br><br><br>

            <!-- Footer -->
        <footer class="page-footer font-small bg-dark text-white">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright: Project-H (David Tamang, Asish
                Parajuli, Abishek Bhandari) Special Thanks To :- Raj Parsad Shrestha
            <a href="Heraldcollege.edu.np"> && Herald College</a>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
        </footer>
        <!-- Footer -->



    <script src="{% static "js/bootstrap.min.js" %}">
    
    
    </script>

</body>
</html>







