{% extends 'base.html'%}
{% block content %}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div>
                {% if messages %}
                    <ul class="messages">
                        {% for k in messages %}
                        <li style="color:red">{{k}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if search%}
            {% for x in search %}    
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{x.img.url}}" alt="">
                    </div>
                    <h2><a href="">{{x.Product_Name}}</a></h2>
                    <div class="product-carousel-price">
                        <ins>NPR {{x.Product_Price}}</ins> 
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/cart/{{x.id}}">Add to cart</a>
                    </div>                       
                </div>
            </div>
        
            {% endfor %}
            {% else %}
            {% if not v_img%}
            {% for x in prod%}    
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{x.img.url}}" alt="">
                    </div>
                    <h2><a href="">{{x.Product_Name}}</a></h2>
                    <div class="product-carousel-price">
                        <ins>NPR {{x.Product_Price}}</ins> 
                    </div>  
                    
                    <div class="product-option-shop">
                        {% if user.is_authenticated  %}
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/cart/cart/{{x.id}}">Add to cart</a>
                        {% else %}
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/signupform/signin/">Add to cart</a>
                        {% endif %}
                    </div>                       
                </div>
            </div>
        
            {% endfor %}
            {%else%}
            {% for x in v_img %}    
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{x.img.url}}" alt="">
                    </div>
                    <h2><a href="">{{x.Product_Name}}</a></h2>
                    <div class="product-carousel-price">
                        <ins>NPR {{x.Product_Price}}</ins> 
                    </div>  
                    
                    <div class="product-option-shop">
                        {% if user.is_authenticated  %}
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/cart/cart/{{x.id}}">Add to cart</a>
                        {% else %}
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/signupform/signin/">Add to cart</a>
                        {% endif %}
                    </div>                       
                </div>
            </div>
        
            {% endfor %}
            {% endif%}
            {% endif %}
           
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a href="/store/page/1">1</a></li>
                        <li><a href="/store/page/2">2</a></li>
                        <li><a href="/store/page/3">3</a></li>
                        <li><a href="/store/page/4">4</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
